@{
    ViewData["Stylesheet"] = "/css/Details.css";
}
@model RentCarsApp.Models.Car 

<section class="content ">
    <div class="images">
        <div class="">
            <img class="main-image" src="~/images/@Model.ImagePath" alt="">
            <div class="images">
                @foreach (var item in Model.Gallery)
                {
                    <img class="second-image" src="~/images/@item.ImagePath" alt="">
                }
            </div>
        </div>
    </div>
    <div class="information">
        <h2 class="card-title1 mg-l">@Model.NameProducer</h2>
        <h2 class="card-title2 mg-l">@Model.NameModel</h2>
            <hr class="line-desk" />
        <p class="card-text mg-l">Production year: @Model.ProductionYear<br>
        <div class="card-des"><p class="card-text">@Model.Description<br></p></div>
        <p class="card-fueltype">Type of fuel: @Model.Fuel<br>Type of transmission: @Model.Transmission</p>
            <hr class="line-desk" />
        <h2 class="card-price">Price/day: @Model.Price$</h2>
        <a href=""><button class="btn-rent"><span>Fill form!</span></button></a>
         @if (User.IsInRole("Moderator") || User.IsInRole("Admin"))
            {
                <a asp-action="Edit" asp-controller="Car" asp-route-id="@Model.Id">Edit</a>
                <form asp-controller="Car" asp-action="Delete" method="post"  asp-route-id="@Model.Id">
                    <input type="submit" value="Delete" />
                </form>
            }
    </div>
</section>