@{
    ViewData["Stylesheet"] = "/css/List.css";
}
@model IEnumerable<RentCarsApp.Models.Car>
 
<h2>List of cars</h2>
<p><a asp-action="Create">Add a new car</a></p>
<section class="content">
    @foreach (var item in Model)
    {
        <div class="card grow">
            <a class="card-size" href="Details/@item.Id" class="divrel">
                @{var image = item.ImagePath ?? "noimage.png";}
                <img class="card-image" src="~/images/@image">
                <h2 class="card-title">@item.Name</h2>
                <p class="card-text">Production year: @item.ProductionYear<br>
                <p class="card-text line-clamp">Description: @item.Description<br></p>
                <p class="card-text">Type of fuel: @item.Fuel<br>Type of transmission: @item.Transmission<br>Price/day: @item.Price</p>
            </a>
            @if (User.IsInRole("Moderator") || User.IsInRole("Admin"))
            {
                <a asp-action="Edit" asp-controller="Car" asp-route-id="@item.Id">Edit</a>
                <form asp-controller="Car" asp-action="Delete" method="post"  asp-route-id="@item.Id">
                    <input type="submit" value="Delete" />
                </form>
            }
        </div>    
    }
</section>