@{
    ViewData["Stylesheet"] = "/css/List.css";
}
@model IEnumerable<RentCarsApp.Models.Car>
 
<h2>Catalogue</h2>
@if (User.IsInRole("Moderator") || User.IsInRole("Admin"))
{
    <p><a asp-action="Create">Add a new car</a></p>
}
<section class="content">
    @foreach (var item in Model)
    {
        <div class="card grow">
            
                @{var image = item.ImagePath ?? "noimage.png";}

                <a><img class="card-image" src="~/images/@image"></a>
                <h2 class="card-title1 mg-l">@item.NameProducer</h2>
                <h2 class="card-title2 mg-l">@item.NameModel</h2>
                <p class="card-text mg-l">Production year: @item.ProductionYear<br>
                <div class="card-desk">
                    <p class="card-text">Description: @item.Description<br></p>
                </div>
                <div class="card-fueltype-div">
                    <p class="card-fueltype">Type of fuel: @item.Fuel<br>Type of transmission: @item.Transmission</p>
                </div>
                <h2 class="card-price">Price/day: @item.Price$</h2>
                <a href="Details/@item.Id"><button class="btn-rent"><span>See details!</span></button></a>
            @if (User.IsInRole("Moderator") || User.IsInRole("Admin"))
            {
                <a asp-action="Edit" asp-controller="Car" asp-route-id="@item.Id">Edit</a>
                <form asp-controller="Car" asp-action="Delete" method="post"  asp-route-id="@item.Id">
                    <input type="submit" value="Delete" />
                </form>
            }
        </div>    
    }
</section>